body {
    background-color: #e85920;
}

.table-container {
    background-color: #FFF;
    margin: 1.75rem auto 0;
    padding: 1.25rem;
    width: 500px;
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 4.5rem auto;
    text-align: center;
    width: 500px;
}

tr:first-child {
    background-color: #e85920;
    color: #FFF;
}

td {
    border: 1px solid #000;
    padding: 10px;
}