@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C8BBF;
    background-image: url(images/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #36485A;
    height: 100vh;
}

main {
    background-color: #6C8BBF;
    border-radius: 8px;
    padding: 10px;
    width: 600px;
}

.content {
    background-color: #CDD6E9;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}