@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #678BC5;
    background-image: url(images/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main {
    background-color: #FFF;
    border: 2px solid #678BC5;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}