@charset "UTF-8";

div.block {
    background-image: url(images/wallpaper003.jpg);
    border: 2px solid black;
    border-radius: 10px;
    height: 200px;
    margin: 10px;   
}

div#q1 {
    background-position: left top;
}

div#q2 {
    background-position: left center;
}

div#q3 {
    background-position: right bottom;
}

div#q4 {
    background-position: center center;
}