body {
    background-image: url(images/wallpaper001.jpg);
}

div.square {
    display: inline-block;
    background-color: lightgray;
    border: 2px solid #000;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

div#sq1 {
    background-color: skyblue;
}

div#sq2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

div#sq3 {
    background-image: url(images/pattern003.png);
}