body {
    background-image: url(images/wallpaper001.jpg);
}

div.container-border {
    background-color: #FFF;
    margin-top: 1.5rem;
    padding: 5px;
}



div.container-sq {
    margin-top: 3.5rem;
    text-align: center;
}

div.square {
    display: inline-block;
    background-color: lightgray;
    border: 10px solid #8A5A2E;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 0 20px;
}

div#sq1 {
    background-color: skyblue;
}

div#sq2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

div#sq3 {
    background-image: url(images/pattern003.png);
}